@import "tailwindcss";

:root {
  /* Definindo o fundo escuro da Wolf Finance como padrão */
  --background: #0a0f1d;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Removemos o prefers-color-scheme para o site não ficar branco 
   do nada se o Windows do usuário estiver no modo claro */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  /* Garante que não haja scroll global acidental */
  overflow-x: hidden;
}

/* Ajuste para garantir que o h-screen funcione bem em celulares */
html, body {
  height: 100%;
}

.tour-highlight {
  position: relative !important;
  z-index: 10001 !important; /* Um número acima do fundo do tour (10000) */
  pointer-events: none; /* Evita que o usuário clique no botão durante o tour se você preferir */
  box-shadow: 0 0 0 9999px rgba(10, 15, 29, 0.7); /* Cria o escurecimento ao redor do botão */
  border: 2px solid white !important; /* Destaque visual no botão */
}